Magic 271485
Revision Verdi_O-2018.09

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 2560 23 1920 1137 278 61

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/home/wei/VLSI_2021/hw2/P76091226/build/top.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 0.000000 37866.103380
cursor 4500.000000
marker 0.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 0
; marker line index
markerPos 13

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "other"
activeDirFile "" "/home/wei/VLSI_2021/hw2/P76091226/build/top.fsdb"
addSignal -h 15 /top_tb/TOP/axi/ACLK
addSignal -h 15 -holdScope ARESETn
addSignal -h 15 -holdScope rr_ptr
addGroup "CPU_wrapper"
addSignal -h 15 /top_tb/TOP/cpu0/inst_addr_o[31:0]
addSignal -h 15 -holdScope stallreq_from_if
addSignal -h 15 /top_tb/TOP/cpu0/cpu0/ifetch0/fetch_pc[31:0]
addSignal -h 15 /top_tb/TOP/cpu0/stallreq_from_im
addSignal -h 15 -holdScope stallreq_from_mem
addSignal -h 15 -UNSIGNED -holdScope if_curr_state[3:0]
addSignal -h 15 -UNSIGNED -holdScope me_curr_state[3:0]
addSignal -h 15 -holdScope data_read_o
addSignal -h 15 -holdScope inst_read_o
addGroup "SRAM_wrapper0"
addSignal -h 15 -UNSIGNED /top_tb/TOP/IM1/curr_state[3:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope A[13:0]
addSignal -h 15 -holdScope CK
addSignal -h 15 -holdScope CS
addSignal -h 15 -UNSIGNED -HEX -holdScope DI[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope DO[31:0]
addSignal -h 15 -holdScope OE
addSignal -h 15 -UNSIGNED -HEX -holdScope WEB[3:0]
addGroup "SRAM_wrapper1"
addSignal -h 15 -UNSIGNED -HEX /top_tb/TOP/DM1/A[13:0]
addSignal -h 15 -holdScope CK
addSignal -h 15 -holdScope CS
addSignal -h 15 -UNSIGNED -HEX -holdScope DI[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope DO[31:0]
addSignal -h 15 -holdScope OE
addSignal -h 15 -UNSIGNED -HEX -holdScope WEB[3:0]
addSignal -h 15 -UNSIGNED -holdScope curr_state[3:0]
addGroup "ARx_M0"
addSignal -h 15 -UNSIGNED -HEX /top_tb/TOP/axi/ARADDR_M0[31:0]
addSignal -h 15 -holdScope ARBURST_M0[1:0]
addSignal -h 15 -holdScope ARID_M0[3:0]
addSignal -h 15 -holdScope ARLEN_M0[3:0]
addSignal -h 15 -holdScope ARREADY_M0
addSignal -h 15 -holdScope ARSIZE_M0[2:0]
addSignal -h 15 -holdScope ARVALID_M0
addGroup "Rx_M0"
addSignal -h 15 /top_tb/TOP/axi/RDATA_M0[31:0]
addSignal -h 15 -holdScope RID_M0[3:0]
addSignal -h 15 -holdScope RLAST_M0
addSignal -h 15 -holdScope RREADY_M0
addSignal -h 15 -holdScope RRESP_M0[1:0]
addSignal -h 15 -holdScope RVALID_M0
addGroup "ARx_M1"
addSignal -h 15 /top_tb/TOP/axi/ARADDR_M1[31:0]
addSignal -h 15 -holdScope ARBURST_M1[1:0]
addSignal -h 15 -holdScope ARID_M1[3:0]
addSignal -h 15 -holdScope ARLEN_M1[3:0]
addSignal -h 15 -holdScope ARREADY_M1
addSignal -h 15 -holdScope ARSIZE_M1[2:0]
addSignal -h 15 -holdScope ARVALID_M1
addGroup "Rx_M1"
addSignal -h 15 /top_tb/TOP/axi/RID_M1[3:0]
addSignal -h 15 -holdScope RDATA_M1[31:0]
addSignal -h 15 -holdScope RLAST_M1
addSignal -h 15 -holdScope RREADY_M1
addSignal -h 15 -holdScope RRESP_M1[1:0]
addSignal -h 15 -holdScope RVALID_M1
addGroup "ARx_S0"
addSignal -h 15 /top_tb/TOP/axi/ARID_S0[7:0]
addSignal -h 15 -holdScope ARLEN_S0[3:0]
addSignal -h 15 -holdScope ARREADY_S0
addSignal -h 15 -holdScope ARSIZE_S0[2:0]
addSignal -h 15 -holdScope ARVALID_S0
addSignal -h 15 -holdScope ARADDR_S0[31:0]
addSignal -h 15 -holdScope ARBURST_S0[1:0]
addGroup "Rx_S0"
addSignal -h 15 /top_tb/TOP/axi/RDATA_S0[31:0]
addSignal -h 15 -holdScope RVALID_S0
addSignal -h 15 -holdScope RID_S0[7:0]
addSignal -h 15 -holdScope RLAST_S0
addSignal -h 15 -holdScope RREADY_S0
addSignal -h 15 -holdScope RRESP_S0[1:0]
addGroup "AR_S1"
addSignal -h 15 -UNSIGNED -HEX /top_tb/TOP/axi/ARADDR_S1[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope ARBURST_S1[1:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope ARID_S1[7:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope ARLEN_S1[3:0]
addSignal -h 15 -holdScope ARREADY_S1
addSignal -h 15 -UNSIGNED -HEX -holdScope ARSIZE_S1[2:0]
addSignal -h 15 -holdScope ARVALID_S1
addGroup "RxS1"
addSignal -h 15 /top_tb/TOP/axi/RDATA_S1[31:0]
addSignal -h 15 -holdScope RID_S1[7:0]
addSignal -h 15 -holdScope RLAST_S1
addSignal -h 15 -holdScope RREADY_S1
addSignal -h 15 -holdScope RRESP_S1[1:0]
addSignal -h 15 -holdScope RVALID_S1
addGroup "AWx_M1"
addSignal -h 15 /top_tb/TOP/axi/AWADDR_M1[31:0]
addSignal -h 15 -holdScope AWBURST_M1[1:0]
addSignal -h 15 -holdScope AWID_M1[3:0]
addSignal -h 15 -holdScope AWLEN_M1[3:0]
addSignal -h 15 -holdScope AWREADY_M1
addSignal -h 15 -holdScope AWSIZE_M1[2:0]
addSignal -h 15 -holdScope AWVALID_M1
addGroup "Wx_M1"
addSignal -h 15 /top_tb/TOP/axi/WDATA_M1[31:0]
addSignal -h 15 -holdScope WLAST_M1
addSignal -h 15 -holdScope WREADY_M1
addSignal -h 15 -holdScope WSTRB_M1[3:0]
addGroup "Bx_M1"
addSignal -h 15 -UNSIGNED -HEX /top_tb/TOP/axi/BID_M1[3:0]
addSignal -h 15 -holdScope BREADY_M1
addSignal -h 15 -holdScope BRESP_M1[1:0]
addSignal -h 15 -holdScope BVALID_M1
addGroup "AWx_S0"
addSignal -h 15 /top_tb/TOP/axi/AWADDR_S0[31:0]
addSignal -h 15 -holdScope AWBURST_S0[1:0]
addSignal -h 15 -holdScope AWID_S0[7:0]
addSignal -h 15 -holdScope AWLEN_S0[3:0]
addSignal -h 15 -holdScope AWREADY_S0
addSignal -h 15 -holdScope AWSIZE_S0[2:0]
addSignal -h 15 -holdScope AWVALID_S0
addGroup "Wx_S0"
addSignal -h 15 -UNSIGNED -HEX /top_tb/TOP/axi/WDATA_S0[31:0]
addSignal -h 15 -holdScope WLAST_S0
addSignal -h 15 -holdScope WREADY_S0
addSignal -h 15 -UNSIGNED -HEX -holdScope WSTRB_S0[3:0]
addSignal -h 15 -holdScope WVALID_S0
addGroup "Bx_S0"
addSignal -h 15 -UNSIGNED -HEX /top_tb/TOP/axi/BID_S0[7:0]
addSignal -h 15 -holdScope BREADY_S0
addSignal -h 15 -UNSIGNED -HEX -holdScope BRESP_S0[1:0]
addSignal -h 15 -holdScope BVALID_S0
addGroup "AWx_S1"
addSignal -h 15 /top_tb/TOP/axi/AWADDR_S1[31:0]
addSignal -h 15 -holdScope AWBURST_S1[1:0]
addSignal -h 15 -holdScope AWID_S1[7:0]
addSignal -h 15 -holdScope AWLEN_S1[3:0]
addSignal -h 15 -holdScope AWREADY_S1
addSignal -h 15 -holdScope AWSIZE_S1[2:0]
addSignal -h 15 -holdScope AWVALID_S1
addGroup "Wx_S1"
addSignal -h 15 /top_tb/TOP/axi/WDATA_S1[31:0]
addSignal -h 15 -holdScope WLAST_S1
addSignal -h 15 -holdScope WREADY_S1
addSignal -h 15 -holdScope WSTRB_S1[3:0]
addSignal -h 15 -holdScope WVALID_M1
addSignal -h 15 -holdScope WVALID_S1
addGroup "Bx_S1"
addSignal -h 15 -UNSIGNED -HEX /top_tb/TOP/axi/BID_S1[7:0]
addSignal -h 15 -holdScope BREADY_S1
addSignal -h 15 -UNSIGNED -HEX -holdScope BRESP_S1[1:0]
addSignal -h 15 -holdScope BVALID_S1
addGroup "G7"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm
activeDirFile "" "/home/wei/VLSI_2021/hw2/P76091226/build/top.fsdb"

GETSIGNALFORM_SCOPE_HIERARCHY_BEGIN
getSignalForm close

"/top_tb"
"/top_tb/TOP"
"/top_tb/TOP/DM1"
"/top_tb/TOP/IM1"
"/top_tb/TOP/axi"
"/top_tb/TOP/axi2cpu"
"/top_tb/TOP/axi2cpu/cpu_ports"
"/top_tb/TOP/axi2sram0"
"/top_tb/TOP/cpu0"
"/top_tb/TOP/cpu0/cpu0"

SCOPE_LIST_BEGIN
"/top_tb"
"/top_tb/TOP/i_CPU"
"/top_tb/TOP"
"/top_tb/TOP/i_CPU/ifetch0"
"/top_tb/TOP/i_CPU/if_id0"
"/top_tb/TOP/IM1"
"/top_tb/TOP/i_CPU/id0"
"/top_tb/TOP/i_CPU/regfile0"
"/top_tb/TOP/DM1"
"/top_tb/TOP/i_CPU/mem_mem0"
"/top_tb/TOP/IM1/i_SRAM"
"/top_tb/TOP/i_CPU/ex_mem0"
"/top_tb/TOP/i_CPU/ex0"
"/top_tb/TOP/cpu0"
"/top_tb/TOP/axi2cpu"
"/top_tb/TOP/axi2cpu/cpu_ports"
"/top_tb/TOP/axi"
"/top_tb/TOP/cpu0/cpu0"
"/top_tb/TOP/cpu0/cpu0/ifetch0"
"/top_tb/TOP/axi2sram0"
"/top_tb/TOP/DM1/i_SRAM"
SCOPE_LIST_END

GETSIGNALFORM_SCOPE_HIERARCHY_END


