Magic 271485
Revision Verdi_O-2018.09

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 2560 23 1920 1137 313 105

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/home/wei/VLSI_2021/hw2/P76091226/build/top.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 27960148.326361 27992711.690051
cursor 27977250.000000
marker 21000.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 8
; marker line index
markerPos 57

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "other"
activeDirFile "" "/home/wei/VLSI_2021/hw2/P76091226/build/top.fsdb"
addSignal -h 15 /top_tb/TOP/rstn_sync
addSignal -h 15 -holdScope clk
addGroup "ifetch"
addSignal -h 15 /top_tb/TOP/cpu_wrapper0/cpu0/ifetch0/branch_taken_i
addSignal -h 15 -holdScope branch_target_addr_i[31:0]
addSignal -h 15 -holdScope inst_addr_o[31:0]
addSignal -h 15 -holdScope fetch_pc[31:0]
addSignal -h 15 -holdScope if_pc_o[31:0]
addSignal -h 15 -holdScope inst_o[31:0]
addSignal -h 15 -holdScope inst_read_o
addSubGroup "ctrl"
addSignal -h 15 /top_tb/TOP/cpu_wrapper0/cpu0/stallreq_from_if
addSignal -h 15 -holdScope stallreq_from_id
endSubGroup "ctrl"
addSignal -h 15 /top_tb/TOP/cpu_wrapper0/cpu0/stallreq_from_ex
addSignal -h 15 -holdScope stallreq_from_mem
addSignal -expanded -h 15 -holdScope stallreq[4:0]
addSignal -h 15 -holdScope stallreq[4]
addSignal -h 15 -holdScope stallreq[3]
addSignal -h 15 -holdScope stallreq[2]
addSignal -h 15 -holdScope stallreq[1]
addSignal -h 15 -holdScope stallreq[0]
addSubGroup "id"
addSignal -h 15 /top_tb/TOP/cpu_wrapper0/cpu0/id_pc[31:0]
endSubGroup "id"
addSignal -h 15 /top_tb/TOP/cpu_wrapper0/cpu0/id_inst[31:0]
addSignal -h 15 -holdScope id_aluop[14:0]
addSignal -h 15 -holdScope id_rs1[31:0]
addSignal -h 15 -holdScope id_rs2[31:0]
addSignal -h 15 /top_tb/TOP/cpu_wrapper0/cpu0/id0/load_use_for_rs1
addSignal -h 15 -holdScope load_use_for_rs2
addSubGroup "id_branch"
addSignal -h 15 /top_tb/TOP/cpu_wrapper0/cpu0/id_branch_taken
addSignal -h 15 /top_tb/TOP/cpu_wrapper0/cpu0/ifetch0/is_id_branch_inst
addSignal -h 15 -holdScope branch_target_addr_i[31:0]
addSignal -h 15 -holdScope branch_target_addr_r[31:0]
addSignal -h 15 -holdScope branch_not_taken_addr_r[31:0]
addSignal -h 15 /top_tb/TOP/cpu_wrapper0/cpu0/id0/link_addr_o[31:0]
endSubGroup "id_branch"
addSignal -h 15 /top_tb/TOP/cpu_wrapper0/cpu0/id0/is_in_delayslot_i
addSignal -h 15 -holdScope next_inst_in_delayslot_o
addSubGroup "RF"
addSignal -h 15 /top_tb/TOP/cpu_wrapper0/cpu0/regfile0/regs[0:31]
endSubGroup "RF"
addSubGroup "ex"
endSubGroup "ex"
addSignal -h 15 -UNSIGNED -HEX /top_tb/TOP/cpu_wrapper0/cpu0/ex_pc[31:0]
addSignal -h 15 -holdScope ex_wdata[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope ex_wreg_data[31:0]
addSubGroup "mem"
addSignal -h 15 /top_tb/TOP/cpu_wrapper0/cpu0/mem_pc[31:0]
addSignal -h 15 -holdScope mem_wdata[31:0]
addSignal -h 15 -holdScope mem_wreg
addSignal -h 15 /top_tb/TOP/cpu_wrapper0/cpu0/mem_wb0/mem_mem2reg
addSignal -h 15 /top_tb/TOP/cpu_wrapper0/cpu0/data_in_o[31:0]
addSignal -h 15 /top_tb/TOP/cpu_wrapper0/cpu0/mem0/data_addr_o[31:0]
addSignal -h 15 /top_tb/TOP/cpu_wrapper0/cpu0/mem_wreg_data[31:0]
addSignal -h 15 /top_tb/TOP/cpu_wrapper0/cpu0/mem0/data_write_web_o[3:0]
addSignal -h 15 /top_tb/TOP/cpu_wrapper0/cpu0/mem_memrd
addSignal -h 15 -holdScope mem_memwr
endSubGroup "mem"
addSubGroup "wb" -e FALSE
endSubGroup "wb"
addSignal -h 15 /top_tb/TOP/cpu_wrapper0/cpu0/wb_pc[31:0]
addSignal -h 15 /top_tb/TOP/cpu_wrapper0/cpu0/mem_wb0/wb_mem2reg
addSignal -h 15 /top_tb/TOP/cpu_wrapper0/cpu0/wb0/from_mem_i[31:0]
addSignal -h 15 -holdScope from_reg_i[31:0]
addSignal -h 15 -holdScope mem2reg_i
addSignal -h 15 -UNSIGNED -HEX /top_tb/TOP/cpu_wrapper0/cpu0/wb_from_alu[31:0]
addSignal -h 15 -holdScope wb_mem2reg
addSignal -h 15 -UNSIGNED -HEX -holdScope wb_rd[4:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope wb_wdata[31:0]
addGroup "CPU_M0"
addSignal -h 15 -UNSIGNED /top_tb/TOP/cpu_wrapper0/M0/m_curr_state[6:0]
addSignal -h 15 -holdScope ARVALID_M
addSignal -h 15 -holdScope ARREADY_M
addSignal -h 15 -holdScope ARADDR_M[31:0]
addSignal -h 15 -holdScope data_out[31:0]
addSignal -h 15 -holdScope stall
addGroup "CPU_M1"
addSignal -h 15 -UNSIGNED /top_tb/TOP/cpu_wrapper0/M1/m_curr_state[6:0]
addSignal -h 15 -UNSIGNED -holdScope m_next_state[6:0]
addSignal -h 15 -holdScope ARVALID_M
addSignal -h 15 -holdScope ARREADY_M
addSignal -h 15 -holdScope ARADDR_M[31:0]
addSignal -h 15 -holdScope RVALID_M
addSignal -h 15 -holdScope RREADY_M
addSignal -h 15 -holdScope RLAST_M
addSignal -h 15 -holdScope RDATA_M[31:0]
addSignal -h 15 -holdScope AWREADY_M
addSignal -h 15 -holdScope AWVALID_M
addSignal -h 15 -holdScope AWADDR_M[31:0]
addSignal -h 15 -holdScope WVALID_M
addSignal -h 15 -holdScope WREADY_M
addSignal -h 15 -holdScope WSTRB_M[3:0]
addSignal -h 15 -holdScope WDATA_M[31:0]
addSignal -h 15 -holdScope WLAST_M
addSignal -h 15 -holdScope BVALID_M
addSignal -h 15 -holdScope BREADY_M
addSignal -h 15 -holdScope read
addSignal -h 15 -holdScope write
addSignal -h 15 -holdScope stall
addSignal -h 15 -holdScope w_type[3:0]
addGroup "SRAM_S0"
addSignal -h 15 -UNSIGNED /top_tb/TOP/IM1/curr_state[3:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope A[13:0]
addSignal -h 15 -holdScope CS
addSignal -h 15 -UNSIGNED -HEX -holdScope DI[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope DO[31:0]
addSignal -h 15 -holdScope OE
addSignal -h 15 -UNSIGNED -HEX -holdScope WEB[3:0]
addGroup "SRAM_S1"
addSignal -h 15 -UNSIGNED /top_tb/TOP/DM1/curr_state[3:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope A[13:0]
addSignal -h 15 -holdScope CS
addSignal -h 15 -UNSIGNED -HEX -holdScope DI[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope DO[31:0]
addSignal -h 15 -holdScope OE
addSignal -h 15 -UNSIGNED -HEX -holdScope WEB[3:0]
addSignal -h 15 -holdScope AWADDR_S[31:0]
addSignal -h 15 -holdScope AWREADY_S
addSignal -h 15 -holdScope AWVALID_S
addSignal -h 15 -holdScope AW_hs_done
addSignal -h 15 -holdScope WDATA_S[31:0]
addSignal -h 15 -holdScope WLAST_S
addSignal -h 15 -holdScope WREADY_S
addSignal -h 15 -holdScope WVALID_S
addSignal -h 15 -holdScope Wx_hs_done
addSignal -h 15 -holdScope BREADY_S
addSignal -h 15 -holdScope BVALID_S
addSignal -h 15 -holdScope Bx_hs_done
addSignal -h 15 -holdScope RDATA_S[31:0]
addSignal -h 15 -holdScope RLAST_S
addSignal -h 15 -holdScope RREADY_S
addSignal -h 15 -holdScope RVALID_S
addSignal -h 15 -holdScope Rx_hs_done
addGroup "SRAM_SD" -e FALSE
addSignal -h 15 /top_tb/TOP/axi/default_slave0/ARADDR_DEFAULT[31:0]
addSignal -h 15 -holdScope ARREADY_DEFAULT
addSignal -h 15 -holdScope ARVALID_DEFAULT
addSignal -h 15 -holdScope AWADDR_DEFAULT[31:0]
addSignal -h 15 -holdScope AWREADY_DEFAULT
addSignal -h 15 -holdScope AWVALID_DEFAULT
addSignal -h 15 -holdScope BREADY_DEFAULT
addSignal -h 15 -holdScope BVALID_DEFAULT
addSignal -h 15 -holdScope RDATA_DEFAULT[31:0]
addSignal -h 15 -holdScope RLAST_DEFAULT
addSignal -h 15 -holdScope RREADY_DEFAULT
addSignal -h 15 -holdScope RVALID_DEFAULT
addSignal -h 15 -holdScope WDATA_DEFAULT[31:0]
addSignal -h 15 -holdScope WLAST_DEFAULT
addSignal -h 15 -holdScope WREADY_DEFAULT
addSignal -h 15 -holdScope WVALID_DEFAULT
addGroup "ARx_M0"
addSignal -h 15 -UNSIGNED /top_tb/TOP/axi/ARx/addr_arb_lock[2:0]
addSignal -h 15 -UNSIGNED -holdScope decode_result[2:0]
addSignal -h 15 /top_tb/TOP/axi/ARVALID_M0
addSignal -h 15 -holdScope ARREADY_M0
addSignal -h 15 -UNSIGNED -HEX -holdScope ARADDR_M0[31:0]
addSignal -h 15 -holdScope ARBURST_M0[1:0]
addSignal -h 15 -holdScope ARID_M0[3:0]
addSignal -h 15 -holdScope ARLEN_M0[3:0]
addSignal -h 15 -holdScope ARSIZE_M0[2:0]
addGroup "Rx_M0" -e FALSE
addSignal -h 15 -UNSIGNED /top_tb/TOP/axi/Rx/data_arb_lock[3:0]
addSignal -h 15 /top_tb/TOP/axi/RREADY_M0
addSignal -h 15 -holdScope RVALID_M0
addSignal -h 15 -holdScope RDATA_M0[31:0]
addSignal -h 15 -holdScope RID_M0[3:0]
addSignal -h 15 -holdScope RLAST_M0
addSignal -h 15 -holdScope RRESP_M0[1:0]
addGroup "ARx_M1" -e FALSE
addSignal -h 15 -UNSIGNED /top_tb/TOP/axi/ARx/addr_arb_lock[2:0]
addSignal -h 15 -UNSIGNED -holdScope decode_result[2:0]
addSignal -h 15 /top_tb/TOP/axi/ARADDR_M1[31:0]
addSignal -h 15 -holdScope ARBURST_M1[1:0]
addSignal -h 15 -holdScope ARID_M1[3:0]
addSignal -h 15 -holdScope ARLEN_M1[3:0]
addSignal -h 15 -holdScope ARREADY_M1
addSignal -h 15 -holdScope ARSIZE_M1[2:0]
addSignal -h 15 -holdScope ARVALID_M1
addGroup "Rx_M1" -e FALSE
addSignal -h 15 -UNSIGNED /top_tb/TOP/axi/Rx/data_arb_lock[3:0]
addSignal -h 15 /top_tb/TOP/axi/RID_M1[3:0]
addSignal -h 15 -holdScope RDATA_M1[31:0]
addSignal -h 15 -holdScope RLAST_M1
addSignal -h 15 -holdScope RREADY_M1
addSignal -h 15 -holdScope RRESP_M1[1:0]
addSignal -h 15 -holdScope RVALID_M1
addGroup "ARx_S0" -e FALSE
addSignal -h 15 /top_tb/TOP/axi/ARADDR_S0[31:0]
addSignal -h 15 -holdScope ARBURST_S0[1:0]
addSignal -h 15 -holdScope ARID_S0[7:0]
addSignal -h 15 -holdScope ARLEN_S0[3:0]
addSignal -h 15 -holdScope ARREADY_S0
addSignal -h 15 -holdScope ARSIZE_S0[2:0]
addSignal -h 15 -holdScope ARVALID_S0
addGroup "Rx_S0" -e FALSE
addSignal -h 15 /top_tb/TOP/axi/RDATA_S0[31:0]
addSignal -h 15 -holdScope RVALID_S0
addSignal -h 15 -holdScope RID_S0[7:0]
addSignal -h 15 -holdScope RLAST_S0
addSignal -h 15 -holdScope RREADY_S0
addSignal -h 15 -holdScope RRESP_S0[1:0]
addGroup "AR_S1" -e FALSE
addSignal -h 15 -UNSIGNED -HEX /top_tb/TOP/axi/ARADDR_S1[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope ARBURST_S1[1:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope ARID_S1[7:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope ARLEN_S1[3:0]
addSignal -h 15 -holdScope ARREADY_S1
addSignal -h 15 -UNSIGNED -HEX -holdScope ARSIZE_S1[2:0]
addSignal -h 15 -holdScope ARVALID_S1
addGroup "RxS1" -e FALSE
addSignal -h 15 /top_tb/TOP/axi/RDATA_S1[31:0]
addSignal -h 15 -holdScope RID_S1[7:0]
addSignal -h 15 -holdScope RLAST_S1
addSignal -h 15 -holdScope RREADY_S1
addSignal -h 15 -holdScope RRESP_S1[1:0]
addSignal -h 15 -holdScope RVALID_S1
addGroup "AWx_M1" -e FALSE
addSignal -h 15 -UNSIGNED /top_tb/TOP/axi/AWx/addr_arb_lock[2:0]
addSignal -h 15 -UNSIGNED -holdScope decode_result[2:0]
addSignal -h 15 -holdScope AWADDR_M[31:0]
addSignal -h 15 /top_tb/TOP/axi/AWADDR_M1[31:0]
addSignal -h 15 -holdScope AWBURST_M1[1:0]
addSignal -h 15 -holdScope AWID_M1[3:0]
addSignal -h 15 -holdScope AWLEN_M1[3:0]
addSignal -h 15 -holdScope AWSIZE_M1[2:0]
addSignal -h 15 -holdScope AWREADY_M1
addSignal -h 15 -holdScope AWVALID_M1
addGroup "AWx_S1" -e FALSE
addSignal -h 15 /top_tb/TOP/axi/AWADDR_S1[31:0]
addSignal -h 15 -holdScope AWBURST_S1[1:0]
addSignal -h 15 -holdScope AWID_S1[7:0]
addSignal -h 15 -holdScope AWLEN_S1[3:0]
addSignal -h 15 -holdScope AWREADY_S1
addSignal -h 15 -holdScope AWSIZE_S1[2:0]
addSignal -h 15 -holdScope AWVALID_S1
addGroup "Wx_M1" -e FALSE
addSignal -h 15 /top_tb/TOP/axi/Wx/AWVALID_S0
addSignal -h 15 -holdScope AWVALID_S1
addSignal -h 15 -holdScope AWVALID_S2
addSignal -h 15 -holdScope fast_transaction
addSignal -h 15 -holdScope slow_transaction
addSignal -h 15 -UNSIGNED -holdScope AWx_slave_lock[3:0]
addSignal -h 15 -UNSIGNED -holdScope AWx_slave_lock_r[3:0]
addSignal -h 15 -UNSIGNED -holdScope Wx_slave_lock[3:0]
addSignal -h 15 -UNSIGNED -holdScope addr_arb_lock[2:0]
addSignal -h 15 -holdScope WVALID_M1
addSignal -h 15 -holdScope WREADY_M1
addSignal -h 15 -holdScope WDATA_M[31:0]
addSignal -h 15 /top_tb/TOP/axi/WDATA_M1[31:0]
addSignal -h 15 -holdScope WLAST_M1
addSignal -h 15 -holdScope WREADY_M1
addSignal -h 15 -holdScope WSTRB_M1[3:0]
addGroup "Wx_S1" -e FALSE
addSignal -h 15 /top_tb/TOP/axi/WDATA_S1[31:0]
addSignal -h 15 -holdScope WLAST_S1
addSignal -h 15 -holdScope WREADY_S1
addSignal -h 15 -holdScope WSTRB_S1[3:0]
addSignal -h 15 -holdScope WVALID_M1
addSignal -h 15 -holdScope WVALID_S1
addGroup "Bx_M1" -e FALSE
addSignal -h 15 -UNSIGNED /top_tb/TOP/axi/Bx/data_arb_lock[3:0]
addSignal -h 15 -holdScope BID_S[7:0]
addSignal -h 15 -UNSIGNED -holdScope decode_result[3:0]
addSignal -h 15 -UNSIGNED -HEX /top_tb/TOP/axi/BID_M1[3:0]
addSignal -h 15 -holdScope BREADY_M1
addSignal -h 15 -holdScope BRESP_M1[1:0]
addSignal -h 15 -holdScope BVALID_M1
addGroup "Bx_S1"
addSignal -h 15 -UNSIGNED -HEX /top_tb/TOP/axi/BID_S1[7:0]
addSignal -h 15 -holdScope BREADY_S1
addSignal -h 15 -UNSIGNED -HEX -holdScope BRESP_S1[1:0]
addSignal -h 15 -holdScope BVALID_S1
addGroup "Bx_S0"
addSignal -h 15 -UNSIGNED -HEX /top_tb/TOP/axi/BID_S0[7:0]
addSignal -h 15 -holdScope BREADY_S0
addSignal -h 15 -UNSIGNED -HEX -holdScope BRESP_S0[1:0]
addSignal -h 15 -holdScope BVALID_S0
addGroup "G23"
addGroup "AWx_S0" -e FALSE
addSignal -h 15 /top_tb/TOP/axi/AWADDR_S0[31:0]
addSignal -h 15 -holdScope AWBURST_S0[1:0]
addSignal -h 15 -holdScope AWID_S0[7:0]
addSignal -h 15 -holdScope AWLEN_S0[3:0]
addSignal -h 15 -holdScope AWREADY_S0
addSignal -h 15 -holdScope AWSIZE_S0[2:0]
addSignal -h 15 -holdScope AWVALID_S0
addGroup "Wx_S0" -e FALSE
addSignal -h 15 -UNSIGNED -HEX /top_tb/TOP/axi/WDATA_S0[31:0]
addSignal -h 15 -holdScope WLAST_S0
addSignal -h 15 -holdScope WREADY_S0
addSignal -h 15 -UNSIGNED -HEX -holdScope WSTRB_S0[3:0]
addSignal -h 15 -holdScope WVALID_S0
addGroup "G25"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm
activeDirFile "" "/home/wei/VLSI_2021/hw2/P76091226/build/top.fsdb"

GETSIGNALFORM_SCOPE_HIERARCHY_BEGIN
getSignalForm close

"/top_tb"
"/top_tb/TOP"
"/top_tb/TOP/DM1"
"/top_tb/TOP/IM1"
"/top_tb/TOP/axi"
"/top_tb/TOP/axi/ARx"
"/top_tb/TOP/axi/AWx"
"/top_tb/TOP/axi/Bx"
"/top_tb/TOP/axi/Wx"
"/top_tb/TOP/axi/default_slave0"
"/top_tb/TOP/cpu_wrapper0"
"/top_tb/TOP/cpu_wrapper0/M0"
"/top_tb/TOP/cpu_wrapper0/M1"
"/top_tb/TOP/cpu_wrapper0/cpu0"
"/top_tb/TOP/cpu_wrapper0/cpu0/id0"
"/top_tb/TOP/cpu_wrapper0/cpu0/ifetch0"
"/top_tb/TOP/cpu_wrapper0/cpu0/mem0"
"/top_tb/TOP/cpu_wrapper0/cpu0/regfile0"
"/top_tb/TOP/cpu_wrapper0/cpu0/wb0"

SCOPE_LIST_BEGIN
"/top_tb"
"/top_tb/TOP/i_CPU"
"/top_tb/TOP"
"/top_tb/TOP/i_CPU/ifetch0"
"/top_tb/TOP/i_CPU/if_id0"
"/top_tb/TOP/IM1"
"/top_tb/TOP/i_CPU/id0"
"/top_tb/TOP/i_CPU/regfile0"
"/top_tb/TOP/DM1"
"/top_tb/TOP/i_CPU/mem_mem0"
"/top_tb/TOP/IM1/i_SRAM"
"/top_tb/TOP/i_CPU/ex_mem0"
"/top_tb/TOP/i_CPU/ex0"
"/top_tb/TOP/cpu0"
"/top_tb/TOP/axi2cpu"
"/top_tb/TOP/axi2cpu/cpu_ports"
"/top_tb/TOP/axi"
"/top_tb/TOP/cpu0/cpu0"
"/top_tb/TOP/cpu0/cpu0/ifetch0"
"/top_tb/TOP/axi2sram0"
"/top_tb/TOP/DM1/i_SRAM"
"/top_tb/TOP/axi/AR"
"/top_tb/TOP/axi/AR/AR_arb"
"/top_tb/TOP/axi/AR/AR_dec"
"/top_tb/TOP/axi/AWx"
"/top_tb/TOP/axi/Rx"
"/top_tb/TOP/axi/ARx"
"/top_tb/TOP/cpu_wrapper0"
"/top_tb/TOP/cpu_wrapper0/cpu0"
"/top_tb/TOP/cpu_wrapper0/M0"
"/top_tb/TOP/cpu_wrapper0/cpu0/ifetch0"
"/top_tb/TOP/cpu_wrapper0/M1"
"/top_tb/TOP/cpu_wrapper0/cpu0/if_id0"
"/top_tb/TOP/cpu_wrapper0/cpu0/id0"
"/top_tb/TOP/cpu_wrapper0/cpu0/mem0"
"/top_tb/TOP/axi/Bx"
"/top_tb/TOP/axi/Wx"
"/top_tb/TOP/cpu_wrapper0/cpu0/wb0"
"/top_tb/TOP/cpu_wrapper0/cpu0/id_ex0"
"/top_tb/TOP/cpu_wrapper0/cpu0/regfile0"
"/top_tb/TOP/axi/default_slave0"
"/top_tb/TOP/cpu_wrapper0/cpu0/mem_wb0"
"/top_tb/TOP/cpu_wrapper0/cpu0/ex_mem0"
SCOPE_LIST_END

GETSIGNALFORM_SCOPE_HIERARCHY_END


