Magic 271485
Revision Verdi_O-2018.09

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 2631 -1 1848 1163 278 61

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/home/wei/VLSI_2021/hw1/build/top.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 0.000000 59659.280796
cursor 0.000000
marker 0.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 0
; marker line index
markerPos 2

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "IF"
activeDirFile "" "/home/wei/VLSI_2021/hw1/build/top.fsdb"
addSignal -h 15 /top_tb/TOP/i_CPU/clk
addSignal -h 15 /top_tb/TOP/rst
addSignal -h 15 -holdScope rst_sync
addSignal -h 15 /top_tb/TOP/i_CPU/ifetch0/fetch_pc[31:0]
addSignal -h 15 -UNSIGNED -HEX /top_tb/TOP/i_CPU/if_pc[31:0]
addSignal -h 15 -holdScope if_inst[31:0]
addSubGroup "I-MEM"
endSubGroup "I-MEM"
addSignal -h 15 -UNSIGNED -HEX /top_tb/TOP/IM1/A[13:0]
addSignal -h 15 -holdScope CS
addSignal -h 15 -UNSIGNED -HEX -holdScope DI[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope DO[31:0]
addSignal -h 15 -holdScope OE
addSignal -h 15 -UNSIGNED -HEX -holdScope WEB[3:0]
addSignal -h 15 -holdScope CK
addGroup "ID"
addSignal -h 15 /top_tb/TOP/i_CPU/id_pc[31:0]
addSignal -h 15 -holdScope id_inst[31:0]
addSignal -h 15 -holdScope id_aluop[14:0]
addSignal -h 15 -holdScope id_alusrc1
addSignal -h 15 -holdScope id_alusrc2
addSignal -h 15 -holdScope id_func3[2:0]
addSignal -h 15 -holdScope id_rs1[31:0]
addSignal -h 15 -holdScope id_rs2[31:0]
addSignal -h 15 -holdScope id_imm[31:0]
addSignal -h 15 -holdScope id_mem2reg
addSignal -h 15 -holdScope id_memrd
addSignal -h 15 -holdScope id_memwr
addSignal -h 15 -holdScope id_rd[4:0]
addSignal -h 15 -holdScope id_wreg
addSignal -h 15 /top_tb/TOP/i_CPU/id0/mem_wreg_data_i[31:0]
addSubGroup "RF" -e FALSE
addSignal -expanded -h 15 -UNSIGNED -HEX /top_tb/TOP/i_CPU/regfile0/regs[0:31]
addSignal -h 15 -UNSIGNED -HEX -holdScope regs[0][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope regs[1][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope regs[2][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope regs[3][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope regs[4][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope regs[5][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope regs[6][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope regs[7][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope regs[8][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope regs[9][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope regs[10][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope regs[11][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope regs[12][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope regs[13][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope regs[14][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope regs[15][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope regs[16][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope regs[17][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope regs[18][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope regs[19][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope regs[20][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope regs[21][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope regs[22][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope regs[23][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope regs[24][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope regs[25][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope regs[26][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope regs[27][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope regs[28][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope regs[29][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope regs[30][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope regs[31][31:0]
endSubGroup "RF"
addSignal -h 15 -UNSIGNED -HEX /top_tb/TOP/i_CPU/regfile0/regs[0:31]
addSubGroup "ID-BRANCH"
endSubGroup "ID-BRANCH"
addSignal -h 15 /top_tb/TOP/i_CPU/id_branch_taken
addSignal -h 15 -holdScope id_is_in_delayslot
addSignal -h 15 -UNSIGNED -HEX -holdScope id_branch_target_addr[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope id_link_addr[31:0]
addSignal -h 15 -holdScope id_next_inst_in_delayslot
addSubGroup "ID-LOAD_USE"
endSubGroup "ID-LOAD_USE"
addSignal -h 15 /top_tb/TOP/i_CPU/id0/load_inst_in_ex
addSignal -h 15 -holdScope load_inst_in_mem
addSignal -h 15 -holdScope load_use_for_rs1
addSignal -h 15 -holdScope load_use_for_rs2
addGroup "EXE"
addSignal -h 15 /top_tb/TOP/i_CPU/ex_pc[31:0]
addSignal -h 15 -holdScope ex_aluop[14:0]
addSignal -h 15 -holdScope ex_alusrc1
addSignal -h 15 -holdScope ex_alusrc2
addSignal -h 15 -holdScope ex_func3[2:0]
addSignal -h 15 -holdScope ex_imm[31:0]
addSignal -h 15 -holdScope ex_mem2reg
addSignal -h 15 -holdScope ex_memrd
addSignal -h 15 -holdScope ex_memwr
addSignal -h 15 -holdScope ex_rd[4:0]
addSignal -h 15 -holdScope ex_rs1[31:0]
addSignal -h 15 -holdScope ex_rs2[31:0]
addSignal -h 15 -holdScope ex_wdata[31:0]
addSignal -h 15 -holdScope ex_wreg
addSignal -h 15 -holdScope ex_wreg_data[31:0]
addSubGroup "EX-BRANCH"
endSubGroup "EX-BRANCH"
addSignal -h 15 /top_tb/TOP/i_CPU/ex_is_id_in_delayslot
addSignal -h 15 -holdScope ex_is_in_delayslot
addSignal -h 15 -UNSIGNED -HEX -holdScope ex_link_addr[31:0]
addGroup "MEM"
addSignal -h 15 /top_tb/TOP/i_CPU/mem_pc[31:0]
addSignal -h 15 -holdScope mem_mem2reg
addSignal -h 15 -holdScope mem_wreg
addSignal -h 15 -holdScope mem_rd[4:0]
addSignal -h 15 -holdScope mem_memrd
addSignal -h 15 -holdScope mem_memwr
addSignal -h 15 -holdScope mem_wdata[31:0]
addSignal -h 15 -holdScope mem_func3[2:0]
addSignal -h 15 -holdScope mem_wreg_data[31:0]
addSubGroup "D-MEM"
endSubGroup "D-MEM"
addSignal -h 15 -UNSIGNED -HEX /top_tb/TOP/DM1/A[13:0]
addSignal -h 15 -holdScope CS
addSignal -h 15 -UNSIGNED -HEX -holdScope DI[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope DO[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope WEB[3:0]
addSignal -h 15 -holdScope CK
addSignal -h 15 -holdScope OE
addGroup "WB"
addSignal -h 15 /top_tb/TOP/i_CPU/wb_from_alu[31:0]
addSignal -h 15 -holdScope wb_func3[2:0]
addSignal -h 15 -holdScope wb_mem2reg
addSignal -h 15 -holdScope wb_rd[4:0]
addSignal -h 15 -holdScope wb_wdata[31:0]
addSignal -h 15 -holdScope wb_wreg
addGroup "G6"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm
activeDirFile "" "/home/wei/VLSI_2021/hw1/build/top.fsdb"

GETSIGNALFORM_SCOPE_HIERARCHY_BEGIN
getSignalForm close

"/top_tb"
"/top_tb/TOP"
"/top_tb/TOP/IM1"
"/top_tb/TOP/i_CPU"
"/top_tb/TOP/i_CPU/ex0"
"/top_tb/TOP/i_CPU/id0"
"/top_tb/TOP/i_CPU/regfile0"

SCOPE_LIST_BEGIN
"/top_tb"
"/top_tb/TOP/i_CPU"
"/top_tb/TOP"
"/top_tb/TOP/i_CPU/ifetch0"
"/top_tb/TOP/i_CPU/if_id0"
"/top_tb/TOP/IM1"
"/top_tb/TOP/i_CPU/id0"
"/top_tb/TOP/i_CPU/regfile0"
"/top_tb/TOP/DM1"
"/top_tb/TOP/i_CPU/mem_mem0"
"/top_tb/TOP/IM1/i_SRAM"
"/top_tb/TOP/i_CPU/ex_mem0"
"/top_tb/TOP/i_CPU/ex0"
SCOPE_LIST_END

GETSIGNALFORM_SCOPE_HIERARCHY_END


